:root {
    --frelance-darker: rgba(44, 62, 80, 1);
    --freelance-jumbo: rgba(26, 188, 156, 1);
    --frelance-card1: rgba(186, 75, 99, 1);
    --frelance-card2: rgba(30, 164, 182, 1);
    --frelance-card3: rgba(20, 15, 15, 1);
    --frelance-card4: rgba(28, 131, 193, 1);
    --frelance-card5: rgba(14, 56, 181, 1);
    --frelance-card6: rgba(204, 178, 163, 1);
    --freelance-dark: rgba(58, 84, 109, 1);
}

/* #region header */
nav{
    background-color: var(--frelance-darker);
}

/* #endregion header */

/* #region main */

.jumbotron{
    min-height: 300px;
    background-color: var(--freelance-jumbo);
}

/* end jumbotron */



#about{
    background-color: var(--freelance-jumbo);
}



/* #endregion main */