:root {
    --frelance-darker: rgba(44, 62, 80, 1);
    --freelance-jumbo: rgba(26, 188, 156, 1);
    --frelance-card1: rgba(186, 75, 99, 1);
    --frelance-card2: rgba(30, 164, 182, 1);
    --frelance-card3: rgba(20, 15, 15, 1);
    --frelance-card4: rgba(28, 131, 193, 1);
    --frelance-card5: rgba(14, 56, 181, 1);
    --frelance-card6: rgba(204, 178, 163, 1);
    --freelance-dark: rgba(58, 84, 109, 1);
}

hr {
    width: 100px;
    border: 4px solid;
    border-radius: 5px;
}

/* #region header */
nav {
    background-color: var(--frelance-darker);
}

#nav_menu {
    height: 80px;
}

/* #endregion header */

/* #region main */

.jumbotron {
    min-height: 300px;
    background-color: var(--freelance-jumbo);
}

.jumbo_card {
    gap: 0.5rem;
}

/* end jumbotron */




/* end portfolio */

.about {
    background-color: var(--freelance-jumbo);
}

.about a{
    color: white;
    border: 1px solid white;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
}




/* end about */


#footer_top {
    background-color: var(--freelance-dark);
}


#footer_bottom {
    background-color: var(--frelance-darker);
}

/* #endregion main */